.container {
  width: 90vw;
  height: 95vh;
  margin: auto;
  margin-top: 2.5vh;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.top-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
}

.top-bar input {
  display: flex;
  width: 60%;
  height: 60px;
  background: #edfffc;
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
  outline: none;
  border: none;
  padding-left: 40px;
  color: gray;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #edfffc;
  border-radius: 40px;
  cursor: pointer;
}

.weather-image {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.wether-discription {
  display: flex;
  justify-content: center;
  color: #edfffc;
  font-size: 20px;
  margin: 0;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: #edfffc;
  font-size: 60px;
  font-weight: 400;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: #edfffc;
  font-size: 30px;
  font-weight: 400;
}

.data-container {
  display: flex;
  justify-content: center;
  color: #edfffc;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}

.element {
  display: flex;
  align-items: flex-start;
  margin: auto;
  gap: 10px;
}

.data {
  font-size: 30px;
  font-weight: 400;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.icon {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
  .top-bar {
    align-items: center;
    justify-content: center;
  }

  .top-bar input {
    width: 60%;
  }

  .search-icon {
    margin: 0;
  }

  .weather-image {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 250px;
    width: 250px;
  }

  .weather-temp {
    font-size: 60px;
  }

  .weather-location {
    font-size: 30px;
  }

  .data-container {
    /* flex-direction: column; */
    align-items: center;
    margin-top: 40px;
  }

  .element {
    margin-bottom: 20px;
  }

  .data {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }

  .icon {
    margin-top: 5px;
  }
}
